.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .welcome-block,
    .search-block {
        max-height: 80vh;
        width: 60%;
        box-shadow: 8px 8px 8px black;
        background-color: white;
        border-radius: 50px;
        text-align: center;
        padding: 30px;
        padding-bottom: 20px;
        overflow: hidden;
        overflow-y: scroll;
        position: relative;
        .pick-one {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            width: 100%;
            position: relative;
            @media only screen and (max-width: 1024px) {
                flex-direction: column;
            }
        }
    }
}

.player-card,
.team-card,
.leagues-card {
    background-color: rgb(244, 244, 244);
    // border-radius: 50px 0px 0px 50px;
    border-bottom: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.7s;
    .player-photo,
    .team-photo,
    .league-photo {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e2e2e2;
        .injured {
            position: absolute;
            top: 5px;
            right: 5px;
            color: red;
        }
    }
    .player-info,
    .team-info,
    .leagues-info {
        text-align: left;
    }
}

.player-card:hover,
.team-card:hover,
.leagues-card:hover {
    transform: scale(1.01);
}
.player-card:active,
.team-card:active,
.leagues-card:active {
    transform: translateY(0.3em);
}

// Dialog Cards
.player-info-card,
.team-info-card,
.league-info-card {
    padding: 20px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background-color: white;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    .player-overview {
        margin: auto;
        text-align: center;
        .top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            p {
                font-family: 'Graduate', serif;
                font-size: 25px;
            }
        }
    }
    .team-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        img {
            width: 25%;
        }
    }
    .team-info,
    .games-info,
    .player-stats {
        text-align: center;
    }
    .venue-info,
    .league-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .league-logo,
        .league-country,
        .venue-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            background-color: #e2e2e2;
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .venue-info {
        justify-content: center;
    }
}
table {
    width: 96%;
    border-collapse: collapse;
    margin: auto;
    .table-head {
        th {
            // background-color: #e5e8ef;
            padding: 10px 10px;
            border-spacing: 0px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            line-height: 1.8;
            text-align: left;
            color: #bfbfbf;
            .align {
                display: flex;
                align-items: center;
            }
        }
        .white-head {
            background-color: white;
        }
    }
    .table-content {
        // display: block;
        cursor: pointer;
        margin-bottom: 5px;
        border-bottom: 1px solid #e5e8ef;
        transition: all 0.5s;
        td {
            padding: 10px 10px;
            font-size: 13px;
            line-height: 1.54;
            .team-pic {
                width: 50px;
                height: 50px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 25px;
                background-color: #d7dbe7;
                margin-left: 15px;
                .img-preview {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .table-content:hover {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.03), 0 0 15px 0 rgba(0, 0, 0, 0.03);
    }
}
