<div class="team-info-card">
    <button (click)="closeDialog()" class="close-btn">
        <span class="material-symbols-outlined"> cancel </span>
    </button>

    <div class="team-cover">
        <img [src]="team?.team.logo" alt="" />
        <h2 style="text-align: center;">
            {{team?.team.name}} <span class="green-title"> ({{team?.team.country}})</span>
        </h2>
        <p style="margin: 0"><span class="green-title">Est</span> {{team?.team.founded}}</p>
    </div>
    <hr />

    <div class="venue-info" *ngIf="team?.venue.id">
        <div class="venue-img">
            <img *ngIf="team?.venue.image" [src]="team?.venue.image" alt="" />
        </div>
        <div class="venue-data">
            <p><span class="green-title" *ngIf="team?.venue.city">City:</span> {{team?.venue.city}}</p>
            <p><span class="green-title" *ngIf="team?.venue.address">Address:</span> {{team?.venue.address}}</p>
            <p><span class="green-title" *ngIf="team?.venue.capacity">Capacity:</span> {{team?.venue.capacity}}</p>
        </div>
    </div>
    <hr />

    <div class="spinner">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="players-container" *ngIf="players.length > 0">
        <h3 style="text-align: center;">Line up</h3>

        <ng-container *ngFor="let player of players">
            <div class="player-card" (click)="selectPlayer(player)">
                <div class="player-photo">
                    <img [src]="player?.player.photo" alt="" />
                    <span class="material-symbols-outlined injured" *ngIf="player?.player.injured"> healing </span>
                </div>

                <div class="player-info">
                    <p><span class="green-title">Name:</span> {{player?.player.firstname}} {{player?.player.lastname}}</p>
                    <p><span class="green-title" *ngIf="player?.player.age">Age:</span> {{player?.player.age}}</p>
                    <p><span class="green-title" *ngIf="player?.player.height">Height:</span> {{player?.player.height}} <span class="green-title" *ngIf="player?.player.weight">Weight:</span> {{player?.player.weight}}</p>
                    <p><span class="green-title">Nationality:</span> {{player?.player.nationality}}</p>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="players-container" *ngIf="couches.length > 0">
        <h3 style="text-align: center;">Couches</h3>

        <ng-container *ngFor="let couch of couches">
            <div class="player-card">
                <div class="player-photo">
                    <img [src]="couch?.photo" alt="" />
                </div>

                <div class="player-info">
                    <p><span class="green-title">Name:</span> {{couch?.firstname}} {{couch?.lastname}}</p>
                    <p><span class="green-title">Age:</span> {{couch?.age}}</p>
                    <p><span class="green-title" *ngIf="couch?.height">Height:</span> {{couch?.height}} <span class="green-title" *ngIf="couch?.weight">Weight:</span> {{couch?.weight}}</p>
                    <p><span class="green-title" *ngIf="couch?.nationality">Nationality:</span> {{couch?.nationality}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
