<div class="welcome">
    <div class="welcome-block" *ngIf="homeSection">
        <h1>Welcome to Not Another Football Website</h1>
        <h2>
            Lets get started <br />
            Pick one of the following
        </h2>
        <br />

        <div class="pick-one">
            <div class="pick-btns pick-league" (click)="pickOne('leagues')">Leagues</div>
            <div class="pick-btns pick-team" (click)="pickOne('teams')">Teams</div>
            <!-- Players section got scrapped because you need a team ID to get the players, so not possible by soley searching a player name -->
            <!-- <div class="pick-btns pick-player" (click)="pickOne('players')">Players</div> -->
        </div>
    </div>

    <div class="search-block" *ngIf="searchSection">
        <!-- back butto on top left corner of search block -->
        <div class="cancel-btn" (click)="cancelSearch()"><span class="material-symbols-outlined"> arrow_back </span></div>

        <h1>Search {{currentSearch}}</h1>

        <form [formGroup]="searchForm">
            <div class="search-input">
                <input #searchWord class="s-input" type="text" placeholder="search for any " formControlName="search" />
                <button class="search-btn" (click)="searchCategory()" [disabled]="searchForm.invalid">Search</button>
            </div>
            <br />
        </form>

        <div class="spinner">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>

        <!-- ------------------ PLAYERS SECTION ------------------ -->
        <!-- Player search results shown here -->
        <div class="results-block" *ngIf="currentSearch === 'players'">
            <ng-container *ngFor="let player of searchResults">
                <div class="player-card" (click)="selectPlayer(player)">
                    <div class="player-photo">
                        <img [src]="player.player.photo" alt="" />
                        <span class="material-symbols-outlined injured" *ngIf="player.player.injured"> healing </span>
                    </div>
                    <div class="player-info">
                        <p><span class="green-title">Name:</span> {{player?.player.firstname}} {{player?.player.lastname}}</p>
                        <p><span class="green-title">Age:</span> {{player?.player.age}}</p>
                        <p><span class="green-title">Height:</span> {{player?.player.height}} <span class="green-title">Weight:</span> {{player?.player.weight}}</p>
                        <p><span class="green-title">Nationality:</span> {{player?.player.nationality}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- ------------------ PLAYERS SECTION END ------------------ -->
        <!-- ------------------ TEAMS SECTION ------------------ -->
        <!-- Team search results shown here -->
        <div class="results-block" *ngIf="currentSearch === 'teams'">
            <ng-container *ngFor="let team of searchResults">
                <div class="team-card" (click)="selectTeam(team)">
                    <div class="team-photo">
                        <img *ngIf="team?.team.logo" [src]="team?.team.logo" alt="" />
                    </div>
                    <div class="team-info">
                        <h3>{{team?.team.name}}</h3>
                        <p>
                            <span class="green-title" *ngIf="team?.team.founded">Founded:</span> {{team?.team.founded}} <span class="green-title"> ({{team?.team.country}})</span>
                        </p>
                        <p>
                            <span class="green-title" *ngIf="team?.venue.name">Venue:</span> {{team?.venue.name}} <span class="green-title" *ngIf="team?.venue.surface">({{team?.venue.surface}})</span>
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- ------------------ TEAMS SECTION END ------------------ -->
        <!-- ------------------ LEAUGES SECTION ------------------ -->
        <!-- League search results shown here -->
        <div class="results-block" *ngIf="currentSearch === 'leagues'">
            <ng-container *ngFor="let league of searchResults">
                <div class="leagues-card" (click)="selectLeague(league)">
                    <div class="league-photo">
                        <img *ngIf="league?.league.logo" [src]="league?.league.logo" alt="" />
                    </div>
                    <div class="leagues-info">
                        <h3>{{league?.league.name}}</h3>
                        <p><span class="green-title" *ngIf="league?.country.name">Country:</span> {{league?.country.name}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- ------------------ TEAMS SECTION END ------------------ -->
    </div>
</div>

<!-- DIALOGS -->
<!-- Player Dialog-->
<ng-template #playerDialog>
    <app-player [player]="player"></app-player>
</ng-template>

<!-- Team Dialog-->
<ng-template #teamDialog>
    <app-team [team]="team"></app-team>
</ng-template>
<!-- League Dialog -->
<ng-template #leagueDialog>
    <app-leagues [league]="league"></app-leagues>
</ng-template>
